
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCategoryLabel">Create or edit a Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.category.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control input-sm" name="name" id="field_name"
                   ng-model="vm.category.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control input-sm" name="description" id="field_description"
                   ng-model="vm.category.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_icon">Icon</label>
            <input type="text" class="form-control input-sm" name="description" id="field_icon"
                   ng-model="vm.category.icon"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_icon">Position</label>
            <input type="number" class="form-control input-sm" name="position"
                   ng-model="vm.category.position"
                   placeholder="Position"
                   required min="0" max="1000"/>
        </div>
        <div class="form-group">
            <!--<label class="control-label">Tags</label>-->
            <tags-input ng-model="vm.category.tags" display-property="name"
                        placeholder="Tags: Bangladesh, Science, More Tags...">
                <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="control-label" for="field_type">Type</label>-->
        <!--<select class="form-control" name="type" ng-model="vm.category.type" id="field_type" required>-->
        <!--<option value="R">R</option>-->
        <!--<option value="E">E</option>-->
        <!--</select>-->
        <!--<div ng-show="editForm.type.$invalid">-->
        <!--<p class="help-block"-->
        <!--ng-show="editForm.type.$error.required">-->
        <!--This field is required.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_parent">Parent</label>-->
            <!--<input type="number" class="form-control" name="parent" id="field_parent"-->
                    <!--ng-model="vm.category.parent"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_root">Root</label>-->
            <!--<input type="number" class="form-control" name="root" id="field_root"-->
                    <!--ng-model="vm.category.root"-->
                    <!--/>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
