
<div>
    <h2><span>Category</span> {{vm.category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.category.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.category.description}}</span>
        </dd>
        <!--<dt><span>Parent</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.category.parentId}}</span>-->
        <!--</dd>-->
        <dt><span>Tags</span></dt>
        <dd>
            <span>{{vm.category.tags | words:vm.category.tags.length}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.category.status}}</span>
        </dd>
        <!--<dt><span>Path</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.category.path}}</span>-->
        <!--</dd>-->
        <dt><span>Type</span></dt>
        <dd>
            <span>{{vm.category.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="category-detail.edit({id:vm.category.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
