<div class="row">
    <div class="col-xs-6">
        <h4>Categories</h4>
        <ol class="breadcrumb" ng-show="vm.path">
            <li><a ui-sref="client-app">ClientApps</a></li>
            <li ng-repeat="ancestor in vm.path"><a ui-sref="category({parent:ancestor.id})">{{ancestor.name}}</a></li>
        </ol>
    </div>
    <div class="col-xs-6">
        <div class="pull-right">
            <button class="btn btn-primary" ui-sref="category.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Create new Category</span>
            </button>

            <button class="btn btn-primary"
                    ui-sref="question.addToCategory({cid:vm.parentId})"
                    title="Add question"
                    ng-show="vm.categories.length == 0">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Add Questions</span>
            </button>

            <button class="btn btn-primary"
                    ui-sref="question({cid: vm.parentId})"
                    ng-show="vm.categories.length == 0">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>View Questions</span>
            </button>
        </div>
    </div>
</div>

<div>
    <jhi-alert></jhi-alert>

    <div class="table-responsive" ng-hide="vm.categories.length == 0">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentId"><span>Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tags"><span>Tags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="path"><span>Path</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="category in vm.categories track by category.id">
                    <!--<td><a ui-sref="category-detail({id:category.id})">{{category.id}}</a></td>-->
                    <td><a ui-sref="category({parent:category.id})">{{category.name}}</a></td>
                    <td>{{category.description}}</td>
                    <td>{{category.position}}</td>
                    <td><span title="{{category.tags | tagName | words:category.tags.length}}">{{category.tags | tagName | words:3}}</span></td>
                    <td>{{category.status}}</td>
                    <!--<td>{{category.path}}</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    ng-click="vm.filterQuestionByCategory(category)"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="question.addToCategory({cid:category.id})"
                                    class="btn btn-info btn-sm"
                                    title="Add question">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <!--<button type="submit"-->
                            <!--ui-sref="category-detail({id:category.id})"-->
                            <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                            <!--</button>-->
                            <button type="submit"
                                    ui-sref="category.edit({id:category.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category.delete({id:category.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
