
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel">{{vm.article.id ? 'Update' : 'Create'}} Article</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.article.id">-->
            <!--<label for="id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="vm.article.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <!--<label class="control-label" for="field_title">Title</label>-->
            <input type="text" class="form-control input-sm" name="title" id="field_title"
                    ng-model="vm.article.title" placeholder="Title *"
                    required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label class="control-label" for="field_summary">Summary</label>-->
            <textarea class="form-control" name="summary" id="field_summary"
                      ng-model="vm.article.summary"
                      ckeditor="summaryEditorOptions"></textarea>
        </div>
        <div class="form-group">
            <!--<label class="control-label" for="field_content">Content</label>-->
            <textarea class="form-control" name="content" id="field_content"
                      ng-model="vm.article.content" placeholder="Content *"
                      ckeditor="contentEditorOptions"></textarea>
            <!--<div ng-show="editForm.content.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.content.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        </div>

        <div class="row" ng-repeat="link in vm.article.links">
            <div class="col-md-4">
                <div class="form-group">
                        <input type="text" class="form-control input-sm" name="field_link_title"
                               id="field_links_title"
                               ng-model="link.title" placeholder="Link title"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="field_link_url" id="field_link_url"
                               ng-model="link.url"/>
                        <span class="input-group-addon" ng-click="vm.removeLink($index)">x</span>
                        <span class="input-group-addon" ng-click="vm.article.links.push({})" ng-if="$last">+</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <tags-input name="tags" id="field_tags"
                        ng-model="vm.article.tags"
                        display-property="tag"
                        use-strings="true"
                        placeholder="Tags: Bangladesh, Science, More Tags...">
                <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_parent">Parent</label>-->
            <!--<input type="number" class="form-control" name="parent" id="field_parent"-->
                    <!--ng-model="vm.article.parent"-->
                    <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_root">Root</label>-->
            <!--<input type="number" class="form-control" name="root" id="field_root"-->
                    <!--ng-model="vm.article.root"-->
                    <!--/>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
