
<div>
    <h2><span>Article</span> {{vm.article.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.article.title}}</span>
        </dd>
        <dt><span>Summary</span></dt>
        <dd>
            <span>{{vm.article.summary}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{vm.article.content}}</span>
        </dd>
        <dt><span>Links</span></dt>
        <dd>
            <span ng-repeat="link in vm.article.links">
                <a title="{{link.url}}" href="{{link.url}}">
                    {{link.title}}
                </a>
                <span ng-if="!$last">,</span>
            </span>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span title="{{vm.article.tags | words:vm.article.tags.length}}">{{vm.article.tags | words:vm.article.tags.length}}</span>
        </dd>
        <!--<dt><span>Parent</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.article.parent}}</span>-->
        <!--</dd>-->
        <!--<dt><span>Root</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.article.root}}</span>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="article-detail.edit({id:vm.article.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
