<div>
    <h2>Articles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="article.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Article
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="summary"><span>Summary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span>Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="links"><span>Links</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tags"><span>Tags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="parent"><span>Parent</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="root"><span>Root</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in vm.articles track by article.id">
                    <td><a ui-sref="article-detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.title}}</td>
                    <td>{{article.summary}}</td>
                    <td>{{article.content}}</td>
                    <td>
                        <span ng-repeat="link in article.links">
                            <a title="{{link.url}}" href="{{link.url}}">
                                {{link.title}}
                            </a>
                            <span ng-if="!$last">,</span>
                        </span>
                    </td>
                    <td>
                        <span title="{{article.tags | words:article.tags.length}}">{{article.tags | words:3}}</span>
                    </td>
                    <!--<td>{{article.parent}}</td>-->
                    <!--<td>{{article.root}}</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ng-click="vm.searchQuestion({tags: article.tags})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-sm-down">View Related questions</span>
                            </button>
                            <button type="submit"
                                    ui-sref="article-detail({id:article.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.edit({id:article.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.delete({id:article.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
