<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myUserLabel">
            Create or edit a User</h4>

        <div class="alert alert-danger" ng-show="vm.doNotMatch">
            The password and its confirmation do not match!
        </div>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.user.id">-->
            <!--<label>ID</label>-->
            <!--<input type="text" class="form-control" name="id"-->
                   <!--ng-model="vm.user.id" readonly>-->
        <!--</div>-->

        <div class="form-group">
            <!--<label class="control-label">Login</label>-->
            <input type="text" class="form-control input-sm" name="login"
                   ng-model="vm.user.login" required ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/"
                   placeholder="Login *" ng-disabled="vm.user.id">

            <div ng-show="editForm.login.$invalid">
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.login.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label class="control-label">Email</label>-->
            <input type="email" class="form-control input-sm" name="email"
                   ng-model="vm.user.email" required ng-maxlength="100" placeholder="Email *">

            <div ng-show="editForm.email.$invalid">
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.email.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                >
                    This field cannot be longer than 100 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.email">
                    Your email is invalid.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label class="control-label">Email</label>-->
            <input type="text" class="form-control input-sm" name="mobile"
                   ng-model="vm.user.mobile" required ng-maxlength="20" placeholder="Mobile Number *">

            <div ng-show="editForm.email.$invalid">
                <!--<p class="help-block"-->
                <!--ng-show="editForm.email.$error.required">-->
                <!--This field is required.-->
                <!--</p>-->

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                >
                    This field cannot be longer than 20 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.email">
                    Your mobile number is invalid.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label class="control-label">First Name</label>-->
            <input type="text" class="form-control input-sm" name="firstName"
                   ng-model="vm.user.firstName" ng-maxlength="50" placeholder="First Name">

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                   ng-show="editForm.firstName.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label>Last Name</label>-->
            <input type="text" class="form-control input-sm" name="lastName"
                   ng-model="vm.user.lastName" ng-maxlength="50" placeholder="Last Name">

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                   ng-show="editForm.lastName.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group" ng-if="!vm.user.id">
            <!--<label class="control-label" for="password">New password</label>-->
            <input type="password" class="form-control input-sm" id="password" name="password" placeholder="New password"
                   ng-model="vm.user.password" ng-minlength=4 ng-maxlength=50 required ng-disabled="vm.user.id">
            <div ng-show="form.password.$dirty && form.password.$invalid">
                <p class="help-block"
                   ng-show="form.password.$error.required">
                    Your password is required.
                </p>
                <p class="help-block"
                   ng-show="form.password.$error.minlength">
                    Your password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="form.password.$error.maxlength">
                    Your password cannot be longer than 50 characters.
                </p>
            </div>
            <!--<password-strength-bar password-to-check="vm.password"></password-strength-bar>-->
        </div>
        <div class="form-group" ng-if="!vm.user.id">
            <!--<label class="control-label" for="confirmPassword">New password confirmation</label>-->
            <input type="password" class="form-control input-sm" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                   ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required ng-disabled="vm.user.id">
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.required">
                    Your confirmation password is required.
                </p>
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.minlength">
                    Your confirmation password is required to be at least 4 characters.
                </p>
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.maxlength">
                    Your confirmation password cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group" ng-hide="true">
            <label for="activated">
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated"
                       ng-model="vm.user.activated">
                <span>Activated</span>
            </label>
        </div>

        <div class="form-group">
            <label>Roles</label>
            <select class="form-control" multiple name="authority" ng-model="vm.user.roles"
                    ng-options="role as role.displayName for role in vm.roles track by role.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        >Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
