<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientAppLabel">Create or edit a Client App</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.clientApp.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name *</label>
            <input type="text" class="form-control input-sm" name="name" id="field_name"
                    ng-model="vm.clientApp.name"
                    required/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_package_name">Package Name *</label>
            <input type="text" class="form-control input-sm" name="package_name" id="field_package_name"
                   ng-model="vm.clientApp.packageName"
                   ng-pattern="/^[A-Za-z0-9._-]+$/"
                   required/>
            <div ng-show="editForm.package_name.$invalid">
                <p class="help-block"
                   ng-show="editForm.package_name.$error.required">
                    This field is required.
                </p>
                <p class="help-block" ng-show="editForm.package_name.$dirty&&editForm.package_name.$error.pattern">
                    Only english characters without any space are allowed.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control input-sm" name="description" id="field_description"
                   ng-model="vm.clientApp.description"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_status">Status</label>-->
            <!--<select class="form-control" name="status" ng-model="vm.clientApp.status" id="field_status" required>-->
                <!--<option value="C">C</option>-->
            <!--</select>-->
            <!--<div ng-show="editForm.status.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.status.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <!--<label class="control-label">Tags</label>-->
            <tags-input ng-model="vm.clientApp.sharedWith" display-property="email"
                        placeholder="Shared with">
                <auto-complete source="vm.loadUsers($query)"></auto-complete>
            </tags-input>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="field_numberOfQuestionsPerExam">Number of Questions in Exam</label>
                        <input type="number" min="1" class="form-control input-sm" name="numberOfQuestionsPerExam"
                               id="field_numberOfQuestionsPerExam"
                               ng-model="vm.clientApp.settings.qpe"/>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="field_timeOfExam">Time duration for Exam (in minutes)</label>
                        <input type="number" min="1" class="form-control input-sm" name="timeOfExam"
                               id="field_timeOfExam"
                               ng-model="vm.clientApp.settings.et"/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="field_mark">Mark per Question</label>
                        <input type="number" min="1" class="form-control input-sm" name="mark" id="field_mark"
                               ng-model="vm.clientApp.settings.m"/>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="field_negativeMark">Negative marking</label>
                        <div class="input-group">
                            <span class="input-group-addon"><input type="checkbox" ng-model="vm.clientApp.settings.nme"></span>
                            <input type="number" min="0" class="form-control input-sm" name="negativeMark"
                                   id="field_negativeMark"
                                   ng-disabled="!vm.clientApp.settings.nme" ng-model="vm.clientApp.settings.nm"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
