<div class="row">
    <div class="col-xs-8">
        <h4>Client Apps</h4>
    </div>
    <div class="col-xs-4">
        <div class="pull-right">
            <button class="btn btn-primary" ui-sref="client-app.new" has-authority="clientApp.write">
                <span class="glyphicon glyphicon-plus"></span>
                <span>
                        Create new Client App
                    </span>
            </button>
            <button class="btn btn-primary" ui-sref="client-app.filter({filter: vm.filter})">
                <span class="glyphicon glyphicon-search"></span>
                <span>
                        Filter
                    </span>
            </button>
        </div>
    </div>
</div>

<div>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="packageName"><span>Package Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="createdBy"><span>CreatedBy</span></th>
                    <th jh-sort-by="qpe" title="Question per exam"><span>Ques per Exam</span></th>
                    <th jh-sort-by="et" title="Time of exam"><span>Exam Duration</span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clientApp in vm.clientApps track by clientApp.id">
                    <!--<td><a ui-sref="client-app-detail({id:clientApp.id})">{{clientApp.id}}</a></td>-->
                    <td><a ui-sref="category({parent: clientApp.category.id})">{{clientApp.name}}</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id={{clientApp.packageName}}"
                           target="_blank">{{clientApp.packageName}}</a>
                    </td>
                    <!--                    <td>{{clientApp.description}}</td>-->
                    <!--                    <td>{{clientApp.status}}</td>-->
                    <td>{{clientApp.createdBy}}</td>
                    <td>{{clientApp.settings.qpe}}</td>
                    <td>{{clientApp.settings.et}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    has-authority="clientApp.write"
                                    ng-click="vm.export(clientApp)"
                                    class="btn btn-info btn-sm"
                                    title="Export Questions as JSON">
                                <span class="glyphicon glyphicon-download"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category({parent: clientApp.category.id})"
                                    class="btn btn-info btn-sm"
                                    title="View Categories">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client-app.detail({id: clientApp.id})"
                                    class="btn btn-info btn-sm"
                                    title="View Categories">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    has-authority="clientApp.write"
                                    ui-sref="client-app.edit({id:clientApp.id})"
                                    class="btn btn-primary btn-sm"
                                    title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    has-authority="clientApp.write"
                                    ui-sref="client-app.delete({id:clientApp.id})"
                                    class="btn btn-danger btn-sm"
                                    title="Delete">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
