<form name="filterForm" role="form" novalidate ng-submit="vm.applyFilters()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myQuestionLabel">Filter Results</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <!--<label class="control-label" for="field_question">Question</label>-->
            <input type="text" class="form-control" name="client-app" id="field_client_app" tabindex="1" autofocus
                   ng-model="vm.filter.search" placeholder="Search..."/>
        </div>

        <div class="form-group" id="sandbox-container" ng-init="vm.configureDatePicker()">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" ng-model="vm.filter.createdDateFrom"
                       placeholder="yyyy-mm-dd" tabindex="2"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" ng-model="vm.filter.createdDateTo"
                       placeholder="yyyy-mm-dd" tabindex="2"/>
            </div>
        </div>

        <div class="row" has-any-authority="clientApp.administration">
            <div class="col-md-6">
                <div class="form-group">
                    <!--<label class="control-label" for="field_created_by">Users</label>-->
                    <select class="form-control" name="createdBy" ng-model="vm.filter.createdBy" id="field_created_by"
                            tabindex="5">
                        <option value="">Users</option>
                        <option value="{{user.id}}" ng-repeat="user in vm.users">{{user.login}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()"
                tabindex="6">
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.reset()"
                tabindex="6">
            <span>Reset</span>
        </button>
        <button type="submit" ng-disabled="filterForm.$invalid || vm.isFiltering" class="btn btn-primary"
                tabindex="5">
            <span>Filter</span>
        </button>
    </div>
</form>
