
<div>
    <h2><span>Client App: </span> {{vm.clientApp.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.clientApp.name}}</span>
        </dd>
        <dt><span>Package Name</span></dt>
        <dd>
            <span>{{vm.clientApp.packageName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.clientApp.description}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{vm.clientApp.type}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.clientApp.status}}</span>
        </dd>
        <dt><span>Shared with</span></dt>
        <dd>
            <span ng-repeat="user in vm.clientApp.sharedWith">
                <span>{{user.email}}</span>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
