<div ng-cloak>
    <div class="row">
        <div class="col-md-8" has-authority="app.administration">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{vm.report.totalQuestions}}</span>
                    Total Number of questions
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{vm.report.totalClientApps}}</span>
                    Total Number of Apps
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{vm.report.todaysEntry}}</span>
                    Today's entry
                </li>
            </ul>

            <div class="panel panel-info">
                <div class="panel-heading">number of questions entered by users</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="counter in vm.report.countTotalQuestionsByUsers" ui-sref="question({createdBy: counter.createdBy})">
                            <span class="badge">{{counter.count}}</span>
                            {{counter.createdBy}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">number of questions entered by users from last day</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="counter in vm.report.countTodaysQuestionsByUsers"
                            ui-sref="question({createdBy: counter.createdBy, createdDateFrom: vm.report.yesterday})">
                            <span class="badge">{{counter.count}}</span>
                            {{counter.createdBy}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Number of questions entered per day</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="counter in vm.report.countQuestionsByCreatedDate"
                            ui-sref="question({createdDateFrom: counter.createdDate, createdDateTo: counter.createdDate})">
                            <span class="badge">{{counter.count}}</span>
                            {{counter.createdDate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>Welcome!</h1>
            <h4>{{vm.report.now}}</h4>


            <p>
                Visit us at:
            </p>

            <ul>
                <li><a href="http://www.quesbank.com/" target="_blank" rel="noopener">www.quesbank.com</a></li>
            </ul>
            <img src="content/images/book.png" class="img-responsive"/>
        </div>
    </div>
</div>
