
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModelTestLabel">Create or edit a Model Test</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.modelTest.id">
            <label for="id">ID</label>
            <input type="text" class="form-control input-sm" id="id" name="id"
                    ng-model="vm.modelTest.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control input-sm" name="name" id="field_name"
                    ng-model="vm.modelTest.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control input-sm" name="description" id="field_description"
                    ng-model="vm.modelTest.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control input-sm" name="type" ng-model="vm.modelTest.type" id="field_type" required>
                <option value="D">D</option>
                <option value="W">W</option>
                <option value="M">M</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subjects">Subjects</label>
            <input type="text" class="form-control input-sm" name="subjects" id="field_subjects"
                    ng-model="vm.modelTest.subjects"
                    />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_status">Status</label>-->
            <!--<input type="text" class="form-control input-sm" name="status" id="field_status" ng-model="vm.modelTest.status"/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" for="field_expiryDate">Expiry Date</label>
                <div class="input-group">
                    <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" datetime-picker="{{dateformat}}" ng-model="vm.modelTest.expiryDate" is-open="vm.datePickerOpenStatus.expiryDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expiryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expiryDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.expiryDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.expiryDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_availableDate">Available Date</label>
                <div class="input-group">
                    <input id="field_availableDate" type="text" class="form-control" name="availableDate" datetime-picker="{{dateformat}}" ng-model="vm.modelTest.availableDate" is-open="vm.datePickerOpenStatus.availableDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('availableDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
