
<div>
    <h2><span>Model Test</span> {{vm.modelTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.modelTest.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.modelTest.description}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{vm.modelTest.type}}</span>
        </dd>
        <dt><span>Subjects</span></dt>
        <dd>
            <span>{{vm.modelTest.subjects}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.modelTest.status}}</span>
        </dd>
        <dt><span>Expiry Date</span></dt>
        <dd>
            <span>{{vm.modelTest.expiryDate | date:'medium'}}</span>
        </dd>
        <dt><span>Available Date</span></dt>
        <dd>
            <span>{{vm.modelTest.availableDate | date:'medium'}}</span>
        </dd>
        <dt><span>QuestionIds</span></dt>
        <dd>
            <span ui-sref="question-detail({id:question.id})">{{vm.modelTest.questionIds | words:vm.modelTest.questionIds.length}}</span>
        </dd>

    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="model-test-detail.edit({id:vm.modelTest.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
