
<div>
    <!--<h2><span>Role</span> {{vm.role.id}}</h2>-->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.role.name}}</span>
        </dd>
        <dt><span>Display Name</span></dt>
        <dd>
            <span>{{vm.role.displayName}}</span>
        </dd>
        <dt><span>Level</span></dt>
        <dd>
            <span>{{vm.role.level}}</span>
        </dd>
        <dt><span>Authorities</span></dt>
        <dd>
            <span ng-repeat="authorities in vm.role.authorities">
                <a ui-sref="authority-detail({id: authorities.id})">{{authorities.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="role-detail.edit({id:vm.role.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
