
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoleLabel">Create or edit a Role</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.role.id" readonly/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" name="name"
                    ng-model="vm.role.name"
                    placeholder="Role Name *"
                    tabindex="1"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" name="displayName"
                    ng-model="vm.role.displayName"
                    placeholder="Display Name *"
                   tabindex="2"
                   required/>
            <div ng-show="editForm.displayName.$invalid">
                <p class="help-block"
                    ng-show="editForm.displayName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <input type="number" class="form-control input-sm" name="level"
                    ng-model="vm.role.level"
                    placeholder="Level *"
                   tabindex="3"
                    required min="2" max="1000"/>
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.max">
                    This field cannot be more than 1000.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_authorities">Authorities</label>
            <select class="form-control" id="field_authorities"
                    style="height: 250px;"
                    multiple name="authorities" ng-model="vm.role.authorities" ng-options="authority as authority.displayName for authority in vm.authorities track by authority.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
