<div class="row">
    <div class="col-xs-8">
        <h4>Questions</h4>
        <ol class="breadcrumb" ng-show="vm.path">
            <li ng-repeat="ancestor in vm.path"><a ui-sref="category({parent:ancestor.id})">{{ancestor.name}}</a></li>
        </ol>
    </div>
    <div class="col-xs-4">
        <div class="pull-right">
            <button class="btn btn-primary" ui-sref="question.new" ng-hide="vm.filter.categoryId">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Create</span>
            </button>
            <button class="btn btn-primary" ng-show="vm.filter.categoryId"
                    ui-sref="question.addToCategory({cid:vm.filter.categoryId})">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Add Question</span>
            </button>
            <button class="btn btn-primary" ui-sref="question.filter({filter: vm.filter})">
                <span class="glyphicon glyphicon-search"></span>
                <span>Filter</span>
            </button>
            <button class="btn btn-primary"
                    ng-show="vm.modelTestId != null"
                    ng-click=vm.addToModelTest(question)>
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span>Add to Model test: {{vm.modelTestId}}</span>
            </button>
        </div>
    </div>
</div>

<div>
    <jhi-alert></jhi-alert>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th><span>#</span></th>
                <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th jh-sort-by="question"><span>Question</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="answers"><span>Answers</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status"><span>Status</span></th>
                <!--<th jh-sort-by="createdBy"><span>Created By</span></span></th>-->
                <th jh-sort-by="status"><span>tags</span><span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in vm.questions track by question.id">
                <td><input type="checkbox" ng-model="question.isSelected"/></td>
                <!--<td><a ui-sref="question-detail({id:question.id})">{{question.id}}</a></td>-->
                <td class="qb-table-width-40">{{question.question}}</td>
                <td class="qb-table-width-30">
                    <dd ng-repeat="ans in question.answers">
                        <span class="pad" >{{($index | toAlphabet) + ") "}}</span>
                        <input type="checkbox" readonly disabled ng-checked="{{ans.c}}" style="margin-right: 10px" />
                        <span>{{ans.o}}</span>
                    </dd>
                </td>
                <td class="qb-table-width-5">{{question.status}}</td>
                <!--<td>{{question.createdBy}}</td>-->
                <td class="qb-table-width-25">

                    <dd>
                        <span title="{{question.tags | tagName | words:question.tags.length}}">{{question.tags | tagName | words:3}}</span>
                    </dd>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"-->
                                <!--ng-show="vm.modelTestId != null && !question.addedToModelTest"-->
                                <!--ng-click=vm.addToModelTest(question)-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-plus-sign"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <button type="submit"
                                ui-sref="question-detail({id:question.id})"
                                class="btn btn-info btn-sm"
                                title="Details">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="question.edit({id:question.id})"
                                class="btn btn-primary btn-sm"
                                title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                has-authority="question.delete"
                                ui-sref="question.delete({id:question.id})"
                                class="btn btn-danger btn-sm"
                                title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
