<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myQuestionLabel">{{vm.question.id ? 'Update' : 'Create'}} Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.question.id">-->
        <!--<label for="id">ID</label>-->
        <!--<input type="text" class="form-control" id="id" name="id"-->
        <!--ng-model="vm.question.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <!--<label class="control-label" for="field_question">Question <span class="label-mark-required">*</span></label>-->
            <input type="text" class="form-control input-sm" name="question" id="field_question" tabindex="1" autofocus
                   ng-model="vm.question.question" placeholder="Question *"
                   required/>
            <!--<div ng-show="editForm.question.$invalid">-->
            <!--<p class="help-block"-->
            <!--ng-show="editForm.question.$error.required">-->
            <!--This field is required.-->
            <!--</p>-->
            <!--</div>-->
        </div>
        <div class="form-group">
            <!--<label class="control-label" for="field_answers_1">Answers</label>-->
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="ans in vm.question.answers">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><input type="checkbox" ng-model="ans.c"/></span>
                        <input type="text" class="form-control input-sm" name="field_answers_{{$index+1}}"
                               id="field_answers_{{$index+1}}" tabindex="{{$index + 1}}"
                               ng-model="ans.o" placeholder="Answer {{$index + 1}}"/>
                        <span class="input-group-addon" ng-click="vm.removeAnswer($index)">x</span>
                        <span class="input-group-addon" ng-click="vm.question.answers.push({})" ng-if="$last">+</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <!--<label class="control-label">Tags</label>-->
            <tags-input ng-model="vm.question.tags" display-property="name"
                        placeholder="Tags: Bangladesh, Science, More Tags..." tabindex="{{(vm.question.answers.length + 2)}}">
                <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="control-label" for="field_status">Status</label>-->
        <!--<select class="form-control" name="status" ng-model="vm.question.status" id="field_status" required-->
        <!--tabindex="{{vm.questions.answers.length + 3}}">-->
        <!--<option value="C">Created</option>-->
        <!--<option value="V">Validated</option>-->
        <!--<option value="F">Flagged</option>-->
        <!--<option value="P">Production</option>-->
        <!--</select>-->
        <!--<div ng-show="editForm.status.$invalid">-->
        <!--<p class="help-block"-->
        <!--ng-show="editForm.status.$error.required">-->
        <!--This field is required.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.showKeyboardLayout = !vm.showKeyboardLayout"
                tabindex="{{vm.question.answers.length + 6}}">
            <span>Keyboard Layout</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()"
                tabindex="{{vm.question.answers.length + 5}}">
            <span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary"
                tabindex="{{vm.question.answers.length + 4}}">
            <span>Save</span>
        </button>
        <button ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.saveAndCreateNew()"
                tabindex="{{vm.question.answers.length + 3}}" ng-if="!vm.question.id">
            <span>Save & Create Another</span>
        </button>
    </div>

    <div class="row pad" ng-show="vm.showKeyboardLayout">
        <div class="col-xs-12" align="center">
            <img src="content/images/keyboard-layout.png" />
        </div>
    </div>
</form>
