<div>
    <div>
        <div class="pull-right">
            <button type="button" title="Previous" ng-hide="vm.question.id == 1"
                    ui-sref="question-detail({id:{{vm.question.id - 1}}})"
                    class="btn">
                <span class="glyphicon glyphicon-chevron-left"></span></span>
            </button>
            <button type="button" title="Next"
                    ui-sref="question"
                    class="btn">
                <span class="glyphicon glyphicon-align-justify"></span></span>
            </button>
            <!--<button type="button" title="Next"-->
                    <!--ui-sref="question-detail({id:{{vm.question.id + 1}}})"-->
                    <!--class="btn">-->
                <!--<span class="glyphicon glyphicon-chevron-right"></span></span>-->
            <!--</button>-->
        </div>
        <h2><span>Question</span> {{vm.question.id}}</h2>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Question</span></dt>
        <dd>
            <span>{{vm.question.question}}</span>
        </dd>
        <dt><span>Answers</span></dt>
        <dd ng-repeat="ans in vm.question.answers">
            <span class="pad" >{{($index | toAlphabet) + ") "}}</span>
            <input type="checkbox" readonly disabled ng-checked="{{ans.c}}" style="margin-right: 10px"/>
            <span>{{ans.o}}</span>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span>{{vm.question.tags | tagName | words:vm.question.tags.length}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.question.status}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{vm.question.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;-->
        <span> Back</span>
    </button>

    <button type="button" ui-sref="question-detail.edit({id:vm.question.id})" class="btn btn-primary">
        <!--<span class="glyphicon glyphicon-pencil"></span>-->
        <span class="hidden-sm-down">Edit</span>
    </button>
    <!--<button type="button" class="btn btn-success">-->
        <!--<span class="hidden-sm-down">Aprove</span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-danger pull-right">-->
        <!--<span class="hidden-sm-down">Flag</span>-->
    <!--</button>-->

</div>
